@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  background-color: black;
}

.name {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
}

.contain {
  text-align: center;
  padding: 0;
}
.container_buttons {
  text-align: center;
  margin-top: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
  padding: 0;
}

.col {
    float: left;
    width: 10%;
}
.col2 {
  float: left;
  width: 25%;
}

#reset {
  padding: 10px;
  float: left;
}

#start {
  padding: 10px;
  float: right;
}

.Life {
  font-family: "Montserrat", sans-serif;
  color: #FF0000;
  font-size: 24px;
  float: right;
}

.score {
  font-family: "Montserrat", sans-serif;
  color: #00FF00;
  font-size: 24px;
  float: left;
}

.expl {
  font-family: "Montserrat", sans-serif;
  color: #FeFeFe;
  margin-top: 5px;
  margin-bottom: 8px;
}

#coord {
  font-family: "Montserrat", sans-serif;
  float: left;
  font-size: 28px;
  color: #9e1500;
}

#status {
  font-family: "Montserrat", sans-serif;
  float: left;
  font-size: 28px;
  color: "red";
}

.cursor {
  float: center;
  src: "daggers-cursor.png";
}

#canvas {
  background: url(background.png); /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83a2bf', endColorstr='#faa088',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 5, 15, 0.32);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0, 5, 15, 0.32);
  box-shadow: 0px 0px 9px 3px rgba(0, 5, 15, 0.32);
  cursor: url(cursor.png),auto;
}


